* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
}

.box {
    width: 100%;
    height: 100%;
    transition: all .1s ease;
    background: black;
}

#clear_button {
    right: 0;
}

#rgb_button {
    right: 125px;
}

#normal_button {
    right: 250px;
}

.button {
    background: rgb(235, 235, 235);
    position: fixed;
    margin-top: 7px;
    margin-right: 7px;
    height: 30px;
    width: 100px;
    border: solid 1px grey;
}

.hover {
    background: white !important;
}